#p1{
 border: 2px solid black ;
 width: 100px;
            height: 100px;
            font-size: 14px; /* Adjust text size */
            overflow: hidden;
  background-color: aqua;
}
#p2{
    border: dashed black 2px;
    height:200px;
    width:200px;
   
}

#p2:hover{
    background-color: red;
}

#p3{
    background-color: brown;
}

#h11{
    size: 23px;
    background-color: aqua;
font-family: Arial, Helvetica, sans-serif;
}

u{
    text-decoration:none;
}

